Dominio/Dominio/Web References/E-Factura/ws_eprueba.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dgi.gub.uy" xmlns:wsdlns="http://dgi.gub.uy" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://dgi.gub.uy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Data">
    <xsd:all>
      <xsd:element name="xmlData" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="WS_eFactura.EFACRECEPCIONSOBRE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="Datain" type="wsdlns:Data" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="WS_eFactura.EFACRECEPCIONSOBREResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="Dataout" type="wsdlns:Data" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="WS_eFactura.EFACRECEPCIONREPORTE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="Datain" type="wsdlns:Data" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="WS_eFactura.EFACRECEPCIONREPORTEResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="Dataout" type="wsdlns:Data" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="WS_eFactura.EFACCONSULTARESTADOENVIO">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="Datain" type="wsdlns:Data" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="WS_eFactura.EFACCONSULTARESTADOENVIOResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="Dataout" type="wsdlns:Data" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>