Dominio/Dominio/Web References/E-Factura/ws_eprueba.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://dgi.gub.uy" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://dgi.gub.uy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:schema>
      <xsd:import schemaLocation="ws_eprueba.xsd1.xsd" namespace="http://dgi.gub.uy" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WS_eFactura.EFACCONSULTARESTADOENVIOSoapIn">
    <wsdl:part xmlns:xsns="http://dgi.gub.uy" name="parameters" element="xsns:WS_eFactura.EFACCONSULTARESTADOENVIO" />
  </wsdl:message>
  <wsdl:message name="WS_eFactura.EFACCONSULTARESTADOENVIOSoapOut">
    <wsdl:part xmlns:xsns="http://dgi.gub.uy" name="parameters" element="xsns:WS_eFactura.EFACCONSULTARESTADOENVIOResponse" />
  </wsdl:message>
  <wsdl:message name="WS_eFactura.EFACRECEPCIONREPORTESoapIn">
    <wsdl:part xmlns:xsns="http://dgi.gub.uy" name="parameters" element="xsns:WS_eFactura.EFACRECEPCIONREPORTE" />
  </wsdl:message>
  <wsdl:message name="WS_eFactura.EFACRECEPCIONREPORTESoapOut">
    <wsdl:part xmlns:xsns="http://dgi.gub.uy" name="parameters" element="xsns:WS_eFactura.EFACRECEPCIONREPORTEResponse" />
  </wsdl:message>
  <wsdl:message name="WS_eFactura.EFACRECEPCIONSOBRESoapIn">
    <wsdl:part xmlns:xsns="http://dgi.gub.uy" name="parameters" element="xsns:WS_eFactura.EFACRECEPCIONSOBRE" />
  </wsdl:message>
  <wsdl:message name="WS_eFactura.EFACRECEPCIONSOBRESoapOut">
    <wsdl:part xmlns:xsns="http://dgi.gub.uy" name="parameters" element="xsns:WS_eFactura.EFACRECEPCIONSOBREResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_eFacturaSoapPort">
    <wsdl:operation name="EFACCONSULTARESTADOENVIO">
      <wsdl:input name="EFACCONSULTARESTADOENVIORequest" message="ns0:WS_eFactura.EFACCONSULTARESTADOENVIOSoapIn" />
      <wsdl:output name="EFACCONSULTARESTADOENVIOResponse" message="ns0:WS_eFactura.EFACCONSULTARESTADOENVIOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EFACRECEPCIONREPORTE">
      <wsdl:input name="EFACRECEPCIONREPORTERequest" message="ns0:WS_eFactura.EFACRECEPCIONREPORTESoapIn" />
      <wsdl:output name="EFACRECEPCIONREPORTEResponse" message="ns0:WS_eFactura.EFACRECEPCIONREPORTESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EFACRECEPCIONSOBRE">
      <wsdl:input name="EFACRECEPCIONSOBRERequest" message="ns0:WS_eFactura.EFACRECEPCIONSOBRESoapIn" />
      <wsdl:output name="EFACRECEPCIONSOBREResponse" message="ns0:WS_eFactura.EFACRECEPCIONSOBRESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_eFacturaSoapBinding" type="ns0:WS_eFacturaSoapPort">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EFACCONSULTARESTADOENVIO">
      <soap11:operation soapAction="http://dgi.gub.uyaction/AWS_EFACTURA.EFACCONSULTARESTADOENVIO" style="document" />
      <wsdl:input name="EFACCONSULTARESTADOENVIORequest">
        <soap11:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EFACCONSULTARESTADOENVIOResponse">
        <soap11:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EFACRECEPCIONREPORTE">
      <soap11:operation soapAction="http://dgi.gub.uyaction/AWS_EFACTURA.EFACRECEPCIONREPORTE" style="document" />
      <wsdl:input name="EFACRECEPCIONREPORTERequest">
        <soap11:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EFACRECEPCIONREPORTEResponse">
        <soap11:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EFACRECEPCIONSOBRE">
      <soap11:operation soapAction="http://dgi.gub.uyaction/AWS_EFACTURA.EFACRECEPCIONSOBRE" style="document" />
      <wsdl:input name="EFACRECEPCIONSOBRERequest">
        <soap11:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EFACRECEPCIONSOBREResponse">
        <soap11:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_eFactura">
    <wsdl:port name="WS_eFacturaSoapPort" binding="ns0:WS_eFacturaSoapBinding">
      <soap11:address location="https://efactura.dgi.gub.uy:6443/ePrueba/ws_eprueba" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>