Dominio/Dominio/Web References/WebCaravanas/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultarCaravanas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarCaravanasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarCaravanasResult" type="tns:ArrayOfLectura" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLectura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Lectura" nillable="true" type="tns:Lectura" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Lectura">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TipoRegistro" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ordinal" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Caravana" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaLectura" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInsercionDB" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfLectura" nillable="true" type="tns:ArrayOfLectura" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarCaravanasSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarCaravanas" />
  </wsdl:message>
  <wsdl:message name="ConsultarCaravanasSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarCaravanasResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarCaravanasHttpGetIn">
    <wsdl:part name="Fecha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarCaravanasHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLectura" />
  </wsdl:message>
  <wsdl:message name="ConsultarCaravanasHttpPostIn">
    <wsdl:part name="Fecha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarCaravanasHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLectura" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ConsultarCaravanas">
      <wsdl:input message="tns:ConsultarCaravanasSoapIn" />
      <wsdl:output message="tns:ConsultarCaravanasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="ConsultarCaravanas">
      <wsdl:input message="tns:ConsultarCaravanasHttpGetIn" />
      <wsdl:output message="tns:ConsultarCaravanasHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="ConsultarCaravanas">
      <wsdl:input message="tns:ConsultarCaravanasHttpPostIn" />
      <wsdl:output message="tns:ConsultarCaravanasHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarCaravanas">
      <soap:operation soapAction="http://tempuri.org/ConsultarCaravanas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarCaravanas">
      <soap12:operation soapAction="http://tempuri.org/ConsultarCaravanas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ConsultarCaravanas">
      <http:operation location="/ConsultarCaravanas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ConsultarCaravanas">
      <http:operation location="/ConsultarCaravanas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://192.168.0.240/wscaravanas/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://192.168.0.240/wscaravanas/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://192.168.0.240/wscaravanas/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://192.168.0.240/wscaravanas/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>